*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background :linear-gradient(165deg,#29292c,#292285 80%) no-repeat;
    background-attachment: fixed;
}
::-webkit-scrollbar{
    display: none;
}
::placeholder{
    color: white;
}
.main{
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.main h1{
    /* position:fixed;
    top:10%; */
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    mix-blend-mode: screen;  
}
.a{
    height: 90vh;
    width: 50vw;
    /* border: 2px solid black; */
    background-image: linear-gradient(165deg,blue,rgb(0 255 119) 80%);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:15%;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    border-radius: 10px;
}
.b{
    /* border: 2px solid red; */
    /* height: 50vh; */
    width: 50vw;
    font-family: 'Lobster', cursive;
    padding: 5px;
    color: white;
}
input[type=text],input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: transparent;
    color: white;
    display: inline-block;
    border:none;
    outline:none;
    border: 1px solid rgb(0, 47, 255);
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
}
input[type=text]:focus {
    border:none;
  }
  
input[type=submit] {
    width: 100%;
    background-image:linear-gradient(165deg,#00006b,#b90000 80%);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Lobster', cursive;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 47, 255);
  color: white;
  border-radius: 4px;
  background-color:transparent;
  font-size: 16px;
  resize: none;
}
#loading{
  background-color:rgb(0, 0, 0);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
}
#txt{
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    top: 40%;
    right: 30%;
    color: blue;
    position: absolute;
    animation-name: animate;
    animation-duration: 5s;
    animation-iteration-count: infinite ;
    animation-fill-mode: both ;
    
}
#txt1{
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    top: 40%;
    right: 30.5%;
    color: cyan;
    position: absolute;
    animation-name: animate;
    animation-duration: 5s;
    animation-iteration-count: infinite ;
    animation-fill-mode: both ;
    
}
@keyframes animate {
    0%  {filter:hue-rotate(0deg);}
    100%    {filter:hue-rotate(360deg);}
}
@media screen and (max-width:280px) {
    body{
        display: none;
    }
}
@media screen and (min-width:280px) and (max-width:400px) {
    #loading h1{
        font-size: 2rem;
    }
    .main h1{
        font-size: 1rem;
    }
}
@media screen and (min-width:400px) and (max-width:590px) {
    #loading h1{
        font-size: 3rem;
    }
    .main h1{
        font-size: 2rem;
    }
}
@media screen and (min-width:590px) and (max-width:700px) {
    #loading h1{
        font-size: 4rem;
    }
    .main h1{
        font-size: 3rem;
    }
}