

/* Sidebar  */
.sideinfo {
    height : 100%;
    width: 250px;
    background-color: #2d3748;
    position: fixed!important;
    z-index: 1;
    overflow: auto;

}
#leftmenu{
  position: fixed;
  top: 0;
  padding-top: 118px;
  padding-bottom: 0;
  height: 100%;
  width: 220px;
  background-color: transparent;
}
#leftmenuin{
  height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 20px;
    background-color:#E7E9EB;
    margin-left: 10px;
    margin-top: 0px;
    padding: 10px 30px;
}

.sideinfo a {
  text-decoration: none;
    display: block;
    padding: 2px 1px 1px 16px;
}
.sideinfo a:hover{
  border: 2px rgb(32, 51, 218) solid;
  border-radius: 3px;
  background-color : rgb(50, 201, 70);
  color: rgb(16, 5, 36);
}
/* Main page */
.main1{
  transition: margin-left 0s;
  height: 100%;
  margin-left: 250px;
  padding-top: 0px;

}

*, *:before, *:after {
  box-sizing: inherit;
}

#main2{
  padding: 16px 32px 32px 32px;
  border-right: 1px solid #f1f1f1;
  transition: margin-left .4s;
}

#mainHeading{
  text-align: center;
    margin-left: -16px;
    margin-right: -16px;
    overflow: hidden;
    height: 90px;
}
/* for previous nad next button */
.prenex a{
  font-size: 17px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #04AA6D;
  color: #ffffff;
  border-color: #04AA6D;
  padding: 8px 16px;
  margin: 5px;
}
.prenex .p{
  float: left!important;
}
.prenex .n{
  float: right!important;
}
.prenex::after{
  content: "";
  display: table;
  clear: both;
}
.prenex::before{
  content: "";
  display: table;
  clear: both;
}

.quecontent{
  padding: 8px 20px;
    margin: 24px -20px;
    box-shadow: none!important;
    background-color: #E7E9EB;
    border-radius: 5px;
}
