/* css reset */
*{
    margin : 0;
    padding :0;
    
}

html{
    scroll-behavior: smooth;
}
#navbar {
	position:sticky;
	top:0;
}

/* Home Section  */
#home{
    height: 100vh;
}
/* #home::before{
    content : "";
    background: url('../Img/bg1.jpg') no-repeat center center/cover;
    position: absolute;
    /* border: 20px solid #ededed; */
    /* height: 100%;
    width: 100%;
    z-index: -2;
    opacity: 0.89;

}*/
#home h1{
    text-align: center;
    font-family: 'Bree Serif', serif;
    padding: 0px 15px 15px 15px;
    margin-top: 10%;
}
/* Scroll button */
.scroll-down.arrows span {
  position: absolute;
  display: inline-block;
  bottom: 30px;
  height: 30px;
  width: 2px;
  left: calc(50% - 1px);
  animation: animateArrows 1.25s infinite linear;
}
@keyframes animateArrows {
  0%, 40%, 100% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}
.scroll-down.arrows span:first-child {
  bottom: 25px;
  animation-delay: 0s;
}
.scroll-down.arrows span:nth-child(2) {
  bottom: 20px;
  animation-delay: .33s;
}
.scroll-down.arrows span:last-child {
  bottom:  15px;
  animation-delay: .66s;
}
.scroll-down.arrows span::before,
.scroll-down.arrows span::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  border-radius: 3px;
}
.scroll-down.arrows span::before {
  transform-origin: bottom;
  transform: rotate(-45deg);
}
.scroll-down.arrows span::after {
  transform-origin: bottom;
  margin-left: -1px;
  transform: rotate(45deg);
}